{% extends "base.html" %}
{% block content %}
<p style="margin-bottom: 10px;"><img src="{{ STATIC_URL }}graphic/cuckoo.png" /></p>

<ul class="nav nav-tabs">
    <li class="active"><a href="#files" data-toggle="tab">Files</a></li>
    <li><a href="#urls" data-toggle="tab">URLs</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade in active" id="files">
    {% if paging.show_file_next == "show" or paging.show_file_prev == "show" %}
        <nav>
           <ul class="pager">
           {% if paging.show_file_prev == "show" %}
               <li><a href="{% url "analysis.views.index" %}page/{{paging.prev_page}}/">&larr; Newer</a></li>
           {% endif %}
           {% if paging.show_file_next == "show" %}
               <li><a href="{% url "analysis.views.index" %}page/{{paging.next_page}}/">Older &rarr;</a></li>
           {% endif %}
           </ul>
        </nav>
    {% endif %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Recent Files</h3>
            </div>
            {% if files %}
            <table class="table table-striped" style="table-layout: fixed;">
                <thead>
                <tr>
                    <th width="3%">ID</th>
                    <th width="4%">Timestamp</th>
                    <th width="10%">Filename</th>
                    <th width="10%">MD5</th>
                    <th width="2.5%">PKG</th>
                    {% if config.virustotal %}
                        <th width="4%">VT</th>
                    {% endif %}
                    {% if config.suricata %}
                        <th width="4%">SuriAlert</th>
                        <th width="4%">SuriHTTP</th>
                        <th width="4%">SuriTLS</th>
                        <th width="4%">SuriFiles</th>
                    {% endif %}
                    {% if config.moloch %}
                        <th width="5%">Moloch</th>
                    {% endif %}
                    {% if config.display_f_martians %}
                        <th width="4%">Martians</th>
                    {% endif %}
                    <th width="3%">PCAP</th>
                    <th width="4%">MalScore</th>
                    <th width="4%">MalFamily</th>
                    <th width="5%">ClamAV</th>
                    <th width="10%">Custom</th>
                    {% if config.display_shrike %}
                        <th width="5%">Shrike</th>
                    {% endif %}
                    <th width="4%" style="text-align: right;">Status</th>
                </tr>
                </thead>
                <tbody>
                {% for analysis in files %}
                    <tr>
                        <td>
                            {{analysis.id}}
                        </td>
                        <td>
                        {% if analysis.status == "reported" %}
                            {{analysis.completed_on}}
                        {% else %}
                            <span class="muted">{{analysis.added_on}} (added on)</span>
                        {% endif %}
                        </td>
                        <td>
                        {{analysis.filename}}
                        </td>
                        <td style="word-wrap: break-word;">
                            {% if analysis.status == "reported" %}
                                <a href="{% url "analysis.views.report" analysis.id %}"><span class="mono">{{analysis.sample.md5}}</span></a>
                            {% elif analysis.status == "running" or analysis.status == "completed" %}
                                <a href="{% url "submission.views.status" analysis.id %}"><span class="mono">{{analysis.sample.md5}}</span></a>
                            {% else %}
                                <span class="mono">{{analysis.sample.md5}}</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if analysis.package %}
                                  <span class="mono">{{analysis.package}}</span>
                            {% else %}
                                  <span class="mono">None</span>
                            {% endif %}
                        </td>
                        {% if config.virustotal %}
                        <td>
                            {% if analysis.virustotal_summary %}
                                <a href="{% url "analysis.views.antivirus" analysis.id %}" target="_blank"><span class="mono">{{analysis.virustotal_summary}}</span></a>
                            {% else %}
                                  <span class="mono">None</span>
                            {% endif %}
                        </td>
                        {% endif %}
                        {% if config.suricata %}
                        <td>
                            {% if analysis.suri_alert_cnt %}
                                <a href="{% url "analysis.views.surialert" analysis.id %}" target="_blank"><span class="mono">Suri_Alert:{{analysis.suri_alert_cnt}}</span></a>
                            {% else %}
                                  <span class="mono">None</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if analysis.suri_http_cnt %}
                                <a href="{% url "analysis.views.surihttp" analysis.id %}" target="_blank"><span class="mono">Suri_HTTP:{{analysis.suri_http_cnt}}</span></a>
                            {% else %}
                                <span class="mono">None</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if analysis.suri_tls_cnt %}
                                <a href="{% url "analysis.views.suritls" analysis.id %}" target="_blank"><span class="mono">Suri_TLS:{{analysis.suri_tls_cnt}}</span></a>
                            {% else %}
                                <span class="mono">None</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if analysis.suri_file_cnt %}
                                <a href="{% url "analysis.views.surifiles" analysis.id %}" target="_blank"><span class="mono">Suri_Files:{{analysis.suri_file_cnt}}</span></a>
                            {% else %}
                                  <span class="mono">None</span>
                            {% endif %}
                        </td>
                        {% endif %}
                        {% if config.moloch %}
                            <td>
                                {% if analysis.moloch_url %}
                                    <a href={{analysis.moloch_url}} target="_blank"><span class="mono">MOLOCH</span></a>
                                {% else %}
                                   <span class="mono">None</span>
                                {% endif %}
                           </td>
                        {% endif %}
                        {% if config.display_f_martians %}
                        <td>
                            {% if analysis.f_mlist_cnt %}
                                <span class="mono">{{analysis.f_mlist_cnt}}</span>
                            {% else %}
                                  <span class="mono">None</span>
                            {% endif %}
                        </td>
                        {% endif %}
                        <td>
                            {% if analysis.pcap_id %}
                                {% if config.mongodb %}
                                    <a href="{% url "analysis.views.mongo_file" "pcap" analysis.pcap_id %}" target="_blank"><span class="mono">PCAP</span></a>
                                {% endif %}
                            {% else %}
                                <span class="mono">None</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if analysis.malscore != None %}
                                <span 
                                {% if analysis.malscore <= 2.0 %}
                                class="label label-success"
                                {% elif analysis.malscore <= 6.0 %}
                                class="label label-warning"
                                {% else %}
                                class="label label-danger"
                                {% endif %}
                                {% if analysis.malfamily %}
                                title="{{analysis.malfamily}}"
                                {% endif %}
                                >{{analysis.malscore|floatformat:1}}</span>
                            {% else %}
                                <span class="mono">None</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if analysis.malfamily != None and analysis.malfamily != "" %}
                                <span class="mono">{{analysis.malfamily}}</span>
                            {% else %}
                                <span class="mono">None</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if analysis.clamav != None %}
                                <span class="mono">{{analysis.clamav}}</span>
                            {% else %}
                                <span class="mono">None</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if analysis.custom %}
                                 <span class="mono">{{analysis.custom}}</span>
                            {% else %}
                                 <span class="mono">None</span>
                            {% endif %}
                        </td>
                        {% if config.display_shrike %}
                        <td>
                            {% if analysis.shrike_msg %}
                                 {% if analysis.status == "reported" %}
                                     <a href="{% url "analysis.views.shrike" analysis.id %}" target="_blank"><span class="mono">{{analysis.shrike_msg}}</span></a>
                                 {% else %}
                                     <span class="mono">{{analysis.shrike_msg}}</span>
                                 {% endif %}
                            {% else %}
                                 <span class="mono">None</span>
                            {% endif %}
                        </td>
                       {% endif %}
                        <td style="text-align: right;">
                            {% if analysis.status == "pending" %}
                                <span class="text-muted">pending</span>
                            {% elif analysis.status == "running" %}
                                <span class="text-warning">running</span>
                            {% elif analysis.status == "completed" %}
                                <span class="text-info">processing</span>
                            {% elif analysis.status == "reported" %}
                                {% if analysis.errors %}
                                    <span class="text-danger">
                                {% else %}
                                    <span class="text-success">
                                {% endif%}
                                reported</span>
                            {% else %}
                                <span class="text-danger">{{analysis.status}}</span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div class="panel-body">No files to display on this page.</div>
            {% endif %}
        </div>
    {% if paging.show_file_next == "show" or paging.show_file_prev == "show" %}
        <nav>
           <ul class="pager">
           {% if paging.show_file_prev == "show" %}
               <li><a href="{% url "analysis.views.index" %}page/{{paging.prev_page}}/">&larr; Newer</a></li>
           {% endif %}
           {% if paging.show_file_next == "show" %}
               <li><a href="{% url "analysis.views.index" %}page/{{paging.next_page}}/">Older &rarr;</a></li>
           {% endif %}
           </ul>
        </nav>
    {% endif %}
    </div>

    <div class="tab-pane fade" id="urls">
    {% if paging.show_url_next == "show" or paging.show_url_prev == "show" %}
        <nav>
           <ul class="pager">
           {% if paging.show_url_prev == "show" %}
               <li><a href="{% url "analysis.views.index" %}page/{{paging.prev_page}}/">&larr; Newer</a></li>
           {% endif %}
           {% if paging.show_url_next == "show" %}
               <li><a href="{% url "analysis.views.index" %}page/{{paging.next_page}}/">Older &rarr;</a></li>
           {% endif %}
           </ul>
        </nav>
    {% endif %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Recent URLs</h3>
            </div>
            {% if urls %}
            <table class="table table-striped" style="table-layout: fixed;">
                <thead>
                <tr>
                    <th width="3%">ID</th>
                    <th width="10%">Timestamp</th>
                    <th width="15%">URL</th>
                    {% if config.virustotal %}
                        <th width="5%">VT</th>
                    {% endif %}
                    {% if config.suricata %}
                        <th width="5%">SuriAlert</th>
                        <th width="5%">SuriHTTP</th>
                        <th width="5%">SuriTLS</th>
                        <th width="5%">SuriFiles</th>
                    {% endif %}
                    {% if config.moloch %}
                        <th width="5%">Moloch</th>
                    {% endif %}
                    {% if config.display_ie_martians %}
                        <th width="5%">Martians</th>
                    {% endif %}
                    <th width="3%">PCAP</th>
                    <th width="5%">MalScore</th>
                    {% if config.display_shrike %}
                        <th width="10%">Custom</th>
                        <th width="5%">Shrike</th>
                    {% else %}
                        <th width="20%">Custom</th>
                    {% endif %}
                    <th width="3%" style="text-align: right;">Status</th>
                </tr>
                </thead>
                <tbody>
                {% for analysis in urls %}
                    <tr>
                        <td>
                            {{analysis.id}}
                        </td>
                        <td>
                        {% if analysis.status == "reported" %}
                            {{analysis.completed_on}}
                        {% else %}
                            <span class="muted">{{analysis.added_on}} (added on)</span>
                        {% endif %}
                        </td>
                        <td style="word-wrap: break-word;">
                            {% if analysis.status == "reported" %}
                                <a href="{% url "analysis.views.report" analysis.id %}"><span class="mono">{{analysis.target}}</span></a>
                            {% elif analysis.status == "running" or analysis.status == "completed" %}
                                <a href="{% url "submission.views.status" analysis.id %}"><span class="mono">{{analysis.target}}</span></a>
                            {% else %}
                                <span class="mono">{{analysis.target}}</span>
                            {% endif %}
                        </td>
                        {% if config.virustotal %}
                        <td>
                            {% if analysis.virustotal_summary %}
                                <a href="{% url "analysis.views.antivirus" analysis.id %}" target="_blank"><span class="mono">{{analysis.virustotal_summary}}</span></a>
                            {% else %}
                                  <span class="mono">None</span>
                            {% endif %}
                        </td>
                        {% endif %}
                        {% if config.suricata %}
                        <td>
                            {% if analysis.suri_alert_cnt %}
                                <a href="{% url "analysis.views.surialert" analysis.id %}" target="_blank"><span class="mono">Suri_Alert:{{analysis.suri_alert_cnt}}</span></a>
                            {% else %}
                                  <span class="mono">None</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if analysis.suri_http_cnt %}
                                <a href="{% url "analysis.views.surihttp" analysis.id %}" target="_blank"><span class="mono">Suri_HTTP:{{analysis.suri_http_cnt}}</span></a>
                            {% else %}
                                <span class="mono">None</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if analysis.suri_tls_cnt %}
                                <a href="{% url "analysis.views.suritls" analysis.id %}" target="_blank"><span class="mono">Suri_TLS:{{analysis.suri_tls_cnt}}</span></a>
                            {% else %}
                                <span class="mono">None</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if analysis.suri_file_cnt %}
                                <a href="{% url "analysis.views.surifiles" analysis.id %}" target="_blank"><span class="mono">Suri_Files:{{analysis.suri_file_cnt}}</span></a>
                            {% else %}
                                  <span class="mono">None</span>
                            {% endif %}
                        </td>
                        {% endif %}
                        {% if config.moloch %}
                            <td>
                                {% if analysis.moloch_url %}
                                    <a href={{analysis.moloch_url}} target="_blank"><span class="mono">MOLOCH</span></a>
                                {% else %}
                                   <span class="mono">None</span>
                                {% endif %}
                           </td>
                        {% endif %}
                        {% if config.display_ie_martians %}
                        <td>
                            {% if analysis.mlist_cnt %}
                                <span class="mono">{{analysis.mlist_cnt}}</span>
                            {% else %}
                                  <span class="mono">None</span>
                            {% endif %}
                        </td>
                        {% endif %}
                        <td>
                            {% if analysis.pcap_id %}
                                {% if config.mongodb %}
                                    <a href="{% url "analysis.views.mongo_file" "pcap" analysis.pcap_id %}" target="_blank"><span class="mono">PCAP</span></a>
                                {% endif %}
                            {% else %}
                                <span class="mono">None</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if analysis.malscore != None %}
                                <span 
                                {% if analysis.malscore <= 2.0 %}
                                class="label label-success"
                                {% elif analysis.malscore <= 6.0 %}
                                class="label label-warning"
                                {% else %}
                                class="label label-danger"
                                {% endif %}
                                {% if analysis.malfamily %}
                                title="{{analysis.malfamily}}"
                                {% endif %}
                                >{{analysis.malscore|floatformat:1}}</span>
                            {% else %}
                                <span class="mono">None</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if analysis.custom %}
                                 <span class="mono">{{analysis.custom}}</span>
                            {% else %}
                                 <span class="mono">None</span>
                            {% endif %}
                        </td>
                        {% if config.display_shrike %}
                        <td>
                            {% if analysis.shrike_msg %}
                                 {% if analysis.status == "reported" %}
                                     <a href="{% url "analysis.views.shrike" analysis.id %}" target="_blank"><span class="mono">{{analysis.shrike_msg}}</span></a>
                                 {% else %}
                                     <span class="mono">{{analysis.shrike_msg}}</span>
                                 {% endif %}
                            {% else %}
                                 <span class="mono">None</span>
                            {% endif %}
                        </td>
                       {% endif %}
                        <td>
                        <td style="text-align: right;">
                            {% if analysis.status == "pending" %}
                                <span class="text-muted">pending</span>
                            {% elif analysis.status == "running" %}
                                <span class="text-warning">running</span>
                            {% elif analysis.status == "completed" %}
                                <span class="text-info">processing</span>
                            {% elif analysis.status == "reported" %}
                                <span class="text-success">reported</span>
                            {% else %}
                                <span class="text-danger">{{analysis.status}}</span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div class="panel-body">No URLS to display on this page.</div>
            {% endif %}
        </div>
    {% if paging.show_url_next == "show" or paging.show_url_prev == "show" %}
        <nav>
           <ul class="pager">
           {% if paging.show_url_prev == "show" %}
               <li><a href="{% url "analysis.views.index" %}page/{{paging.prev_page}}/">&larr; Newer</a></li>
           {% endif %}
           {% if paging.show_url_next == "show" %}
               <li><a href="{% url "analysis.views.index" %}page/{{paging.next_page}}/">Older &rarr;</a></li>
           {% endif %}
           </ul>
        </nav>
    {% endif %}
    </div>
  </div>
</div>
<script>
$(function() {
  //for bootstrap 3 use 'shown.bs.tab' instead of 'shown' in the next line
  $('a[data-toggle="tab"]').on('click', function (e) {
    //save the latest tab; use cookies if you like 'em better:
    localStorage.setItem('lastTab', $(e.target).attr('href'));
  });

  //go to the latest tab, if it exists:
  var lastTab = localStorage.getItem('lastTab');

  if (lastTab) {
      $('a[href="'+lastTab+'"]').click();
  }
});
</script>
{% endblock %}
