<section id="domains">
    <h4>DNS</h4>
    {% if analysis.network.dns %}
        <table class="table table-striped table-bordered">
            <tr>
                <th>Name</th>
                <th>Response</th>
                <th>Post-Analysis Lookup</th>
            </tr>
            {% for p in analysis.network.dns %}
                <tr>
                <td><a href="https://www.virustotal.com/en/domain/{{p.request}}/information/">{{p.request}}</a>
                    {% if config.display_et_portal %}
                        <a href="https://portal.emergingthreats.net/search?q={{p.request}}" target="_blank"><span class="mono">IQRisk</span></a>
                    {% endif %}
                    </td>
                    <td>
                        {% for a in p.answers %}
                            {{a.type}} <a href="https://www.virustotal.com/en/ip-address/{{a.data|linebreaksbr}}/information/">{{a.data|linebreaksbr}}</a> <a href="https://portal.emergingthreats.net/search?q={{a.data|linebreaksbr}}" target="_blank"><span class="mono">IQRisk</span></a>{% if not forloop.last %}<br/>{% endif %}
                        {% endfor %}
                    </td>
                    <td><a href="https://www.virustotal.com/en/ip-address/{{ domainlookups|get_item:p.request }}/information/">{{ domainlookups|get_item:p.request }}</a>
                    {% if config.display_et_portal and domainlookups|get_item:p.request %}
                        <a href="https://portal.emergingthreats.net/search?q={{domainlookups|get_item:p.request}}" target="_blank"><span class="mono">IQRisk</span></a>
                    {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No domains contacted.</p>
    {% endif %}
</section>
